/* Updated styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    color: #343A40;
}

nav {
    background-color: #007BFF;
    padding: 1em;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #FFC107;
}

.hero-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.hero-container h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #007BFF;
}

.hero-container p {
    font-size: 1.2em;
    color: #666666;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.img1 {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.section-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #007BFF;
}

.section-container li {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.section-container a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section-container a:hover {
    color: #FFC107;
}

/* Carousel Styles */
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel img {
    min-width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-dots span.active {
    background-color: #007BFF; /* Active dot color */
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-container {
        flex-direction: column;
    }
}

.work-info{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.heading{
    font-size: 25px;
    color: #003268;
    margin: 0;
}